@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.calibre {
    display: block;
    font-family: microsoftyahei;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre1 {
    color: #F60;
    text-decoration: none
    }
.calibre2 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: auto;
    width: auto
    }
.calibre3 {
    display: block
    }
.calibre4 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre5 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre6 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre7 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.contents {
    display: block;
    font-size: 1em;
    line-height: 200%;
    margin-left: 0;
    text-align: justify
    }
.contents-title {
    display: block;
    font-size: 2em;
    font-weight: normal;
    line-height: 200%;
    text-align: center
    }
.contents1 {
    display: block;
    font-size: 1em;
    line-height: 200%;
    margin-left: 1em;
    text-align: justify
    }
.contents2 {
    display: block;
    font-size: 1em;
    line-height: 200%;
    margin-left: 2em;
    text-align: justify
    }
.fnote {
    display: block;
    font-family: STKaiti;
    font-size: 1em;
    line-height: 200%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.middle-img {
    display: block;
    font-family: STKaiti;
    font-size: 1em;
    line-height: 200%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.p {
    color: #0468bb;
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 200%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.p1 {
    color: #0468bb;
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 200%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.p2 {
    color: #0468bb;
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 200%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.p3 {
    color: #0468bb;
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 200%;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.p4 {
    color: #0468bb;
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 200%;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: left;
    text-indent: 0
    }
.pic {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center
    }
.pic-r {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
    margin-top: 10px;
    text-align: right
    }
.yanse {
    color: #0468bb;
    display: block;
    font-size: 1em;
    line-height: 200%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 2em
    }
.you {
    display: block;
    font-size: 1em;
    line-height: 200%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 2em
    }
.ziti {
    color: #0468bb;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.ziti1 {
    display: block;
    font-size: 1em;
    line-height: 150%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.ziti2 {
    display: block;
    font-family: STKaiti;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.ziti3 {
    display: block;
    font-size: 1em;
    line-height: 200%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 2em
    }
.ziti4 {
    display: block;
    font-family: Courier New;
    font-size: 0.75em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 2em
    }
.ziti5 {
    display: block;
    font-family: STKaiti;
    font-size: 1em;
    line-height: 200%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 2em
    }
.pcalibre:hover {
    color: #0468bb;
    text-decoration: underline
    }

